<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	        <h4 class="modal-title" id="myLargeModalLabel">New house request:</h4>
      	</div>
      	<form name="houseRequestForm" ng-submit="profCtrl.submitHouseRequest()">
      		<div class="form-group">
	      		<label>Bedrooms:</label>
	      		<input type="number" min="1" max="10+" ng-model="profCtrl.bed">
      		</div>
      		<div class="form-group">
	      		<label>Bathrooms:</label>
	      		<input type="number" min="1" max="5" step="0.5" ng-model="profCtrl.bath">
      		</div>
      		<div class="form-group">
	      		<label>Square feet:</label>
	      		<input type="number" min="500" max="5000" step="100" ng-model="profCtrl.sq_ft">
      		</div>
      		<div class="form-group">
	      		<label>Budget:</label>
	      		<input type="number" min="100000" max="1000000" step="1000" ng-model="profCtrl.budget">
      		</div>
      		<div class="form-group">
      		<label>Neighborhood:</label>
	      		<select
      			ng-model="profCtrl.requestedNeighborhood"
      			ng-options="n as n.name for n in profCtrl.neighborhoodsArray">
	      		</select>
      		</div>
      		<div class="form-group">
	      		<button type="submit">Submit</button>
	      		<button type="click" data-dismiss="modal">Cancel</button>
      		</div>
      	</form>
    </div>
  </div>
</div>

<div class="profile-container">
	<h1 class="welcome-headline">Welcome {{ profCtrl.user.user.first_name }}!</h1>

	<div class="profile-content">
		<h2 class="profile-headline">My Messages</h2>
		<div class="profile-section">
			<div class="profile-card grow"
				ng-repeat="convo in profCtrl.convos"
				ng-click="profCtrl.showConvo(convo.id)">
				<div class="profile_card-img"><h4>with {{ convo.convo_agent.user.username}}</h4></div>
				<div class="profile-card-info">
					<p>{{ convo.message[0].text }}</p>
					<p>{{ convo.message[0].created | date:short }}</p>
				</div>
			</div>
		</div>

		<h2 class="profile-headline">My Houses</h2>
		<div class="profile-section">
			<div class="profile-card grow"
				ng-repeat="house in profCtrl.myHouses"
				ng-click="profCtrl.showHouse(house.id)"
				ng-show="house.selling === false">
				<div class="profile_card-img"><img ng-src="{{ house.image }}"></div>
				<div class="profile-card-info">
					<h4>{{ house.address }}</h4>
					<p>Beds: {{ house.bed }}</p>
					<p>Bath: {{ house.bath }}</p>
					<p>Square feet: {{ house.sq_ft }}</p>
					<p>Neighborhood: {{ house.house_neighborhood.name }}</p>
				</div>
			</div>
		</div>

		<h2 class="profile-headline">Houses I'm Selling</h2>
		<div class="profile-section">
			<div class="profile-card grow"
				ng-repeat="house in profCtrl.myHouses"
				ng-click="profCtrl.showHouse(house.id)"
				ng-show="house.selling === true">
				<div class="profile-card-img"><img ng-src="{{ house.image }}"></div>
				<div class="profile-card-info">
					<h4>{{ house.address }}</h4>
					<p>Beds: {{ house.bed }}</p>
					<p>Bath: {{ house.bath }}</p>
					<p>Square feet: {{ house.sq_ft }}</p>
					<p>Price: {{ house.price | currency : $ : 2}}</p>
					<p>Neighborhood: {{ house.house_neighborhood.name }}</p>
				</div>
			</div>
		</div>

		<div class="profile-headline flex-headline">
			<h2>My House Requests</h2>
			<div class="profile-blank"></div>
			<div class="profile-button" data-toggle="modal" data-target=".bd-example-modal-sm">New House Request</div>
		</div>
		<div class="profile-section">
			<div class="profile-card request grow" ng-repeat="request in profCtrl.requests" ng-click="profCtrl.showRequest(request.id)">
				<div class="profile-card-img"><img ng-src="{{ request.request_buyer.image }}"></div>
				<div class="profile-card-info">
					<label>Budget:</label>
					<p>{{ request.budget | currency : $ : 2}}</p>
					<label>Neighborhood:</label>
					<p>{{ request.request_neighborhood.name }}</p>
				</div>
			</div>
		</div>

		<h2 class="profile-headline">Houses For Sale</h2>
		<div class="profile-section">
			<div class="profile-card grow" ng-repeat="house in profCtrl.housesForSale" ng-click="profCtrl.showHouse(house.id)">
				<div class="profile-card-img"><img ng-src="{{ house.image }}"></div>
				<div class="profile-card-info">
					<h4>{{ house.address }}</h4>
					<p>Beds: {{ house.bed }}</p>
					<p>Bath: {{ house.bath }}</p>
					<p>Square feet: {{ house.sq_ft }}</p>
					<p>Year built: {{ house.yr_built }}</p>
					<p>{{ house.description }}</p>
					<p>Price: {{ house.price | currency : $ : 2}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
