<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Reply:</h4>
      </div>
      <div class="form-group">
      	<textarea ng-model="convoCtrl.reply"></textarea>
      </div>
      <div class="convo-button" type="click" ng-click="convoCtrl.replyMessage()">Reply</div>
    </div>
  </div>
</div>

<div class="convo-container">
	<h1 class="convo-headline">Conversation between {{ convoCtrl.convo.message[0].author }} & {{ convoCtrl.convo.message[0].recipient }}</h1>

	<div class="convo-message" ng-repeat="message in convoCtrl.convo.message">
		<h4 class="convo-author">{{ message.author }}</h4>
		<p class="convo-message-text">{{ message.text }} <span class="convo-message-date">-{{ message.created | date:short }}</span></p>
	</div>

	<div
		type="button"
		class="convo-button"
		data-toggle="modal"
		data-target=".bd-example-modal-sm">
			Add message
	</div>
</div>
