* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

.landing-container {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.9); }

.landing-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%; }

.landing-headline {
  font-size: 6rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 0 0 6px #666;
  margin: 2.5rem 0; }

.landing-tagline {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 0 6px #666;
  margin: 2rem 0 3rem; }

@-webkit-keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

@keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

ul.kf-slider {
  padding: 0; }
  ul.kf-slider li {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 40s infinite both;
    -moz-animation: fade-out 40s infinite both;
    animation: fade-out 40s infinite both;
    background-image: url(../land_img/backporch1.jpg); }
    @media (min-width: 32ems) {
      ul.kf-slider li {
        background-image: url(../land_img/backporch1.jpg); } }
  ul.kf-slider li:nth-child(2) {
    background-image: url(../land_img/kitchen1.jpg);
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(2) {
        background-image: url(../land_img/kitchen1.jpg); } }
  ul.kf-slider li:nth-child(3) {
    background-image: url(../land_img/livingRoom2.jpg);
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    animation-delay: 16s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(3) {
        background-image: url(../land_img/livingRoom2.jpg); } }
  ul.kf-slider li:nth-child(4) {
    background-image: url(../land_img/kitchen3.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    animation-delay: 24s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(4) {
        background-image: url(../land_img/kitchen3.jpg); } }
  ul.kf-slider li:nth-child(5) {
    background-image: url(../land_img/house1.jpg);
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    animation-delay: 32s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(5) {
        background-image: url(../land_img/house1.jpg); } }

.landing-button-section {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  margin: 0 auto;
  justify-content: space-around; }

.landing-button {
  cursor: pointer;
  padding: 0.8rem 1.8rem; }

.sign-in {
  background-color: #2980b9; }

.register {
  background-color: #27ae60; }

.landing-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  text-align: left;
  text-shadow: 0 0 6px #666; }
  .landing-form label {
    font-weight: normal; }
  .landing-form input[type="text"],
  .landing-form input[type="password"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    border-radius: 1px; }
  .landing-form input[type="text"]:focus,
  .landing-form input[type="password"]:focus,
  .landing-form input[type="text"].focus,
  .landing-form input[type="password"].focus {
    border: solid 5px #969696; }
  .landing-form select {
    border-radius: 1px !important; }

.rows {
  flex-direction: row;
  width: 100%; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2980b9; }

.nav-blank {
  flex-grow: 2; }

.nav-logo {
  font-family: "Courgette", cursive;
  font-size: 6.5rem;
  padding: 0 2rem;
  margin: 1rem 0 1.5rem;
  color: #fff; }

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2.5rem;
    margin: 0 1.5rem; }
    .nav-links a:hover {
      background-color: #3498db; }
