* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

.grow {
  transition: all .2s ease-in-out; }
  .grow:hover {
    transform: scale(1.005); }

.landing-container {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.9); }

.landing-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%; }

.landing-headline {
  font-size: 6rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 0 0 6px #666;
  margin: 2.5rem 0; }

.landing-tagline {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 0 6px #666;
  margin: 2rem 0 3rem; }

@-webkit-keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

@keyframes fade-out {
  5% {
    opacity: 1; }
  95% {
    opacity: 0; } }

ul.kf-slider {
  padding: 0; }
  ul.kf-slider li {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 40s infinite both;
    -moz-animation: fade-out 40s infinite both;
    animation: fade-out 40s infinite both;
    background-image: url(../land_img/backporch1.jpg); }
    @media (min-width: 32ems) {
      ul.kf-slider li {
        background-image: url(../land_img/backporch1.jpg); } }
  ul.kf-slider li:nth-child(2) {
    background-image: url(../land_img/kitchen1.jpg);
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(2) {
        background-image: url(../land_img/kitchen1.jpg); } }
  ul.kf-slider li:nth-child(3) {
    background-image: url(../land_img/livingRoom2.jpg);
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    animation-delay: 16s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(3) {
        background-image: url(../land_img/livingRoom2.jpg); } }
  ul.kf-slider li:nth-child(4) {
    background-image: url(../land_img/kitchen3.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    animation-delay: 24s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(4) {
        background-image: url(../land_img/kitchen3.jpg); } }
  ul.kf-slider li:nth-child(5) {
    background-image: url(../land_img/house1.jpg);
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    animation-delay: 32s; }
    @media (min-width: 32ems) {
      ul.kf-slider li:nth-child(5) {
        background-image: url(../land_img/house1.jpg); } }

.landing-button-section {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  margin: 0 auto;
  justify-content: space-around; }

.landing-button {
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  border-radius: 2px; }

.sign-in {
  background-color: #2980b9; }

.register {
  background-color: #27ae60; }

.landing-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  text-align: left;
  text-shadow: 0 0 6px #666; }
  .landing-form label {
    font-weight: normal; }
  .landing-form input[type="text"],
  .landing-form input[type="password"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    border-radius: 2px; }
  .landing-form input[type="text"]:focus,
  .landing-form input[type="password"]:focus,
  .landing-form input[type="text"].focus,
  .landing-form input[type="password"].focus {
    border: solid 5px #969696; }
  .landing-form select {
    border-radius: 2px !important; }

.rows {
  flex-direction: row;
  width: 100%; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2980b9; }

.nav-blank {
  flex-grow: 2; }

.nav-logo {
  font-family: "Courgette", cursive;
  font-size: 6.5rem;
  padding: 0 3rem;
  margin: 0.5rem 0 1.7rem;
  color: #fff; }

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2.5rem;
    margin: 0 1.5rem;
    border-radius: 2px; }
    .nav-links a:hover {
      background-color: #3498db; }

.welcome-headline {
  text-align: center;
  margin: 4rem 0; }

.profile-content {
  width: 90%;
  margin: 0 auto; }

.profile-headline {
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  margin: 6rem 0 3rem; }
  .profile-headline h2 {
    display: inline-block;
    margin: 0; }
  .profile-headline .list-button {
    text-align: right; }

.profile-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.profile-card {
  display: flex;
  flex-direction: row;
  width: 40%;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 2rem; }
  .profile-card img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px; }
  .profile-card:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5); }

.profile-card-info {
  width: 50%;
  padding-left: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 0; }
  .profile-card-info p {
    margin-bottom: 5px; }
  .profile-card-info h4 {
    margin-top: 10px;
    padding-bottom: 3px;
    font-weight: 500;
    border-bottom: 1px solid #000; }

.profile-card-img {
  display: inline-block;
  width: 50%; }

.profile-button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #27ae60;
  padding: 0.8rem 1.8rem;
  border-radius: 2px;
  margin-right: 1rem; }
  .profile-button:hover {
    background-color: #2ecc71; }

.flex-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.profile-blank {
  flex-grow: 2; }

.request {
  margin: 2rem 1rem;
  font-size: 0.5rem;
  width: 28%; }
  .request .profile-card-img {
    max-height: 154px; }

.message .profile-card-img {
  width: 23%; }

.message .profile-card-info {
  width: 78%; }

.message h4 {
  padding-left: 1rem; }

.agent-metrics p {
  text-align: center; }

.metric-label {
  text-decoration: underline;
  font-weight: bold; }
