<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">List this house!</h4>
      </div>
      <div class="list-modal-body">
	      <div class="form-group">
	      	<label>List with:</label>
	      	<select class="form-control" ng-model="houseCtrl.listingAgent">
	      		<option ng-repeat="agent in houseCtrl.agents" value="{{ agent.id }}">
	      			{{ agent.user.first_name }} {{ agent.user.last_name }}
	      		</option>
	      	</select>
	      </div>
	      <div class="form-group">
		      <label>Price:</label>
		      <input ng-model="houseCtrl.price" class="form-control" type="number" min="50000" max="1000000" step="5000">
	      </div>
	      <div class="list-modal-button" type="click" ng-click="houseCtrl.listHouse()">List this house</div>
      </div>
    </div>
  </div>
</div>


<div class="house-container">
	<div class="house-image"><img src="{{ houseCtrl.house.image }}"></div>
	<div class="house-info">
		<h2 class="house-headline">{{ houseCtrl.house.address }}</h2>
		<p ng-show="houseCtrl.house.house_agent !== null">
			<span class="bold">Listed by:</span> <a href="#/agentDetail/{{houseCtrl.house.house_agent.id}}">{{ houseCtrl.house.house_agent.user.first_name }}
			{{ houseCtrl.house.house_agent.user.last_name }}</a>
		</p>
		<p ng-show="houseCtrl.house.house_buyer !== null">
			<span class="bold">Owned by:</span> {{ houseCtrl.house.house_buyer.user.first_name }}
			{{ houseCtrl.house.house_buyer.user.last_name }}
		</p>
		<p><span class="bold">Beds:</span> {{ houseCtrl.house.bed }}</p>
		<p><span class="bold">Bath:</span> {{ houseCtrl.house.bath }}</p>
		<p><span class="bold">Square feet:</span> {{ houseCtrl.house.sq_ft }}</p>
		<p><span class="bold">Lot size (in acres):</span> {{ houseCtrl.house.lot_size }}</p>
		<p><span class="bold">Year built:</span> {{ houseCtrl.house.yr_built }}</p>
		<p ng-show="houseCtrl.house.house_neighborhood !== null">
			<span class="bold">Neighborhood:</span> {{ houseCtrl.house.house_neighborhood.name }}
		</p>
		<p><span class="bold">Price:</span> {{ houseCtrl.house.price | currency : $ : 2}}</p>
		<p><span class="bold">Description:</span> {{ houseCtrl.house.description }}</p>
		<p ng-show="houseCtrl.house.last_sold !== null">
			<span class="bold">Last sold:</span> {{ houseCtrl.house.last_sold | date:short}}
		</p>
		<button class="btn btn-primary bs-radius" ng-show="houseCtrl.showBuyButton" ng-click="houseCtrl.buyHouse()">BUY</button>
		<button
			type="button"
			class="btn btn-primary bs-radius"
			data-toggle="modal"
			data-target=".bd-example-modal-sm"
			ng-show="houseCtrl.showListButton">
				List
		</button>
	</div>
</div>

