.landing-container
	display: table
	width: 100%
	margin: 0 auto
	text-align: center
	height: 100vh
	width: 100vw
	color: rgba(255,255,255,0.9)
	// &:after
	// 	content: ''
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	height: 100%
	// 	width: 100%
	// 	background-color: rgba(118, 144, 164, 0.4)
	// 	z-index: 0

.landing-content
	display: table-cell
	vertical-align: middle
	position: relative
	z-index: 4
	padding: 0 5%
	// color: rgba(0,0,0,1)

.landing-headline
	font-size: 6rem
	font-weight: 400
	font-style: italic
	text-shadow: 0 0 6px #666
	margin: 2.5rem 0

.landing-tagline
	font-size: 4rem
	font-weight: 300
	text-shadow: 0 0 6px #666
	margin: 2rem 0 3rem

@include keyframes(fade-out)
	5%
		opacity: 1

	95%
		opacity: 0

ul.kf-slider
	padding: 0
	li
		height: 100vh
		width: 100vw
		position: absolute
		top: 0
		background-size: cover
		background-repeat: no-repeat
		background-position:	50%
		z-index: 0
		opacity: 0
		@include animation(fade-out 40s infinite both)
		// background-image: url(../images/banner-1-sm.jpg);
		background-image: url(../land_img/backporch1.jpg)
		@media (min-width: 32ems)
			background-image: url(../land_img/backporch1.jpg)
	li:nth-child(2)
		// background-image: url(../images/banner-2-sm.jpg)
		background-image: url(../land_img/kitchen1.jpg)
		@include animation-delay(8s)
		@media (min-width: 32ems)
			background-image: url(../land_img/kitchen1.jpg)
	li:nth-child(3)
		// background-image: url(../images/banner-2-sm.jpg)
		background-image: url(../land_img/livingRoom2.jpg)
		@include animation-delay(16s)
		@media (min-width: 32ems)
			background-image: url(../land_img/livingRoom2.jpg)
	li:nth-child(4)
		// background-image: url(../images/banner-2-sm.jpg)
		background-image: url(../land_img/kitchen3.jpg)
		@include animation-delay(24s)
		@media (min-width: 32ems)
			background-image: url(../land_img/kitchen3.jpg)
	li:nth-child(5)
		// background-image: url(../images/banner-2-sm.jpg)
		background-image: url(../land_img/house1.jpg)
		@include animation-delay(32s)
		@media (min-width: 32ems)
			background-image: url(../land_img/house1.jpg)
	// li:nth-child(6)
	// 	// background-image: url(../images/banner-2-sm.jpg)
	// 	background-image: url(../land_img/livingRoom1.jpg)
	// 	@include animation-delay(15s)
	// 	@media (min-width: 32ems)
	// 		background-image: url(../land_img/livingRoom1.jpg)
	// li:nth-child(7)
	// 	// background-image: url(../images/banner-2-sm.jpg)
	// 	background-image: url(../land_img/house2.jpg)
	// 	@include animation-delay(18s)
	// 	@media (min-width: 32ems)
	// 		background-image: url(../land_img/house2.jpg)
	// li:nth-child(8)
	// 	// background-image: url(../images/banner-2-sm.jpg)
	// 	background-image: url(../land_img/kitchen2.jpg)
	// 	@include animation-delay(21s)
	// 	@media (min-width: 32ems)
	// 		background-image: url(../land_img/kitchen2.jpg)
	// li:nth-child(9)
	// 	// background-image: url(../images/banner-2-sm.jpg)
	// 	background-image: url(../land_img/house3.jpg)
	// 	@include animation-delay(24s)
	// 	@media (min-width: 32ems)
	// 		background-image: url(../land_img/house3.jpg)
	// li:nth-child(10)
	// 	// background-image: url(../images/banner-2-sm.jpg)
	// 	background-image: url(../land_img/livingRoom3.jpg)
	// 	@include animation-delay(27s)
	// 	@media (min-width: 32ems)
	// 		background-image: url(../land_img/livingRoom3.jpg)

.landing-button-section
	display: flex
	flex-flow: row wrap
	width: 30%
	margin: 0 auto
	justify-content: space-around

.landing-button
	cursor: pointer
	padding: 0.8rem 1rem
	border-radius: 5px

.sign-in
	background-color: #2980b9

.register
	background-color: #27ae60

.landing-form
	display: flex
	flex-direction: column
	width: 40%
	margin: 0 auto
	label
		text-align: left
		text-shadow: 0 0 6px #666

.rows
	flex-direction: row
	width: 100%
