<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Message to {{ reqCtrl.request.request_buyer.user.first_name }}:</h4>
      </div>
      <div class="form-group reply-textarea">
      	<textarea class="" ng-model="reqCtrl.text"></textarea>
      </div>
      <div>
        <div class="convo-button reply-button" type="click" ng-click="reqCtrl.createConvo()">Send</div>
      </div>
    </div>
  </div>
</div>

<div class="request-container">
	<h4 class="request-headline">{{ reqCtrl.request.request_buyer.user.first_name }}
	{{ reqCtrl.request.request_buyer.user.last_name }} is looking for:</h4>
	<div class="request-info">
    <p><span class="bold">Beds:</span> {{ reqCtrl.request.bed }}</p>
    <p><span class="bold">Bath:</span> {{ reqCtrl.request.bath }}</p>
    <p><span class="bold">Square feet:</span> {{ reqCtrl.request.sq_ft }}</p>
    <p ng-show="reqCtrl.request.request_neighborhood !== null"><span class="bold">Neighborhood:</span> {{ reqCtrl.request.request_neighborhood.name }}</p>
  </div>

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target=".bd-example-modal-sm"
    ng-show="reqCtrl.showMessageButton"
    >
      Send {{ reqCtrl.request.request_buyer.user.first_name }} a message
  </button>
</div>


