<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Message to {{ reqCtrl.request.request_buyer.user.first_name }}:</h4>
      </div>
      <div class="form-group">
      	<label>Message:</label>
      	<textarea ng-model="reqCtrl.text"></textarea>
      </div>
      <button type="click" ng-click="reqCtrl.createConvo()">Send</button>
    </div>
  </div>
</div>

<h1>REQUEST DETAIL</h1>

<div>
	<p>Requested by {{ reqCtrl.request.request_buyer.user.first_name }}
	{{ reqCtrl.request.request_buyer.user.last_name }}</p>
	<p>Beds: {{ reqCtrl.request.bed }}</p>
	<p>Bath: {{ reqCtrl.request.bath }}</p>
	<p>Square feet: {{ reqCtrl.request.sq_ft }}</p>
	<p ng-show="reqCtrl.request.request_neighborhood !== null">Neighborhood: {{ reqCtrl.request.request_neighborhood.name }}</p>
</div>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target=".bd-example-modal-sm"
	ng-show="reqCtrl.showMessageButton"
	>
		Send buyer a message
</button>


