<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">List this house!</h4>
      </div>
      <div class="form-group">
      	<label>List with:</label>
      	<select class="form-control" ng-model="houseCtrl.listingAgent">
      		<option ng-repeat="agent in houseCtrl.agents" value="{{ agent.id }}">
      			{{ agent.user.first_name }} {{ agent.user.last_name }}
      		</option>
      	</select>
      </div>
      <div class="form-group">
	      <label>Price:</label>
	      <input ng-model="houseCtrl.price" class="form-control" type="number" min="50000" max="1000000" step="5000">
      </div>
      <button type="click" ng-click="houseCtrl.listHouse()">List this house</button>
    </div>
  </div>
</div>

<h1>REQUEST DETAIL</h1>

<div>
	<p>Requested by {{ reqCtrl.request.request_buyer.user.first_name }}
	{{ reqCtrl.request.request_buyer.user.last_name }}</p>
	<p>Beds: {{ reqCtrl.request.bed }}</p>
	<p>Bath: {{ reqCtrl.request.bath }}</p>
	<p>Square feet: {{ reqCtrl.request.sq_ft }}</p>
	<p ng-show="reqCtrl.request.request_neighborhood !== null">Neighborhood: {{ reqCtrl.request.request_neighborhood.name }}</p>
</div>


